.icon-48-profiles {
      background-image: url(../images/l_profiles.png);
      padding-left:60px!important;
}

.icon-48-profile {
      background-image: url(../images/l_profiles.png);
      padding-left:60px!important;
}

